
.aboutImage{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
   
}
.aboutImage:hover{
    box-shadow: 5px 5px 5px 5px white;
   
    
    transition: 1s;
    box-shadow: 5px 5px 5px 5px black;
}


.aboutme{
    text-align: center;
    background-color: rgb(5, 5, 5);
    color: rgb(233, 10, 10);
    width: 100px;
    height: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px black ;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
}
.aboutme1{
    font-size: 30px;
    color: blue;
}
